<h2>New Lipstick</h2>

<form method='post' action='/lipsticks'>
    <input id='hidden' type='hidden' name='_method' value='new'>
    
    <input type='text' name='color_scheme_main' id='color_scheme_main' placeholder="color_scheme_main">
    
    <input type='text' name='color_scheme_undertone' id='color_scheme_undertone' placeholder='color_scheme_undertone'>
    
    <input type='text' name='name_of_lipstick' id='name_of_lipstick' value= 'name_of_lipstick'>
    
    <input type='text' name='finish' id='finish' value= 'finish'>
    
    <input type='text' name='dryness' id='dryness' value= 'dryness'>
    
    <input type='text' name='requires_a_base' id='requires_a_base' value= 'requires_a_base'>
    
    <input type='text' name='longevity' id='longevity' value= 'longevity'>
    
    <input type='text' name='brand' id='brand' value= 'brand'>
    
    <input type='text' name='difficulty_to_apply' id='difficulty_to_apply' value= 'difficulty_to_apply'>
    
    <input type='text' name='difficulty_to_remove' id='difficulty_to_remove' value= 'difficulty_to_remove'>
    
    <input type='text' name='oil_or_water_removal' id='oil_or_water_removal' value= 'oil_or_water_removal'>
    
    
    <input type="submit" id="submit" value="Submit"/>
</form>