<h2>New Lipstick</h2>

<form method='post' action='/lipsticks'>
    <input id='hidden' type='hidden' name='_method' value='new'>
    
    <input type='text' name='color_scheme_main' id='color_scheme_main' placeholder="Color Scheme Main">
    
    <input type='text' name='color_scheme_undertone' id='color_scheme_undertone' placeholder='Color Scheme Undertone'>
    
    <input type='text' name='name_of_lipstick' id='name_of_lipstick' placeholder= 'Name of Lipstick'>
    
    <input type='text' name='finish' id='finish' placeholder= 'Finish'>
    
    <input type='text' name='dryness' id='dryness' placeholder= 'Dryness'>
    
    <input type='text' name='requires_a_base' id='requires_a_base' placeholder= 'Requires a Base'>
    
    <input type='text' name='longevity' id='longevity' placeholder= 'Longevity'>
    
    <input type='text' name='brand' id='brand' placeholder= 'Brand'>
    
    <input type='text' name='difficulty_to_apply' id='difficulty_to_apply' placeholder= 'Difficulty to Apply'>
    
    <input type='text' name='difficulty_to_remove' id='difficulty_to_remove' placeholder= 'Difficulty to Remove'>
    
    <input type='text' name='oil_or_water_removal' id='oil_or_water_removal' placeholder= 'Oil or Water Removal'>
    
    
    <input type="submit" id="submit" value="Submit"/>
</form>