<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>YourLip - Welcome</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  </head>

  <body>
    <div class= "wrapper">
    <% if logged_in?%>
      <a href="/logout">Log Out</a>
      <p> Welcome, <%=current_user.username%>!</p>

    <% else %>
        <a href="/signup"> Sign Up </a>
        <a href="/login">Log In </a>

        <% end %>

      <%= yield %>
    </div>
  </body>
</html>